# directories
/.idea/
/cmake-build-debug/
/.vscode/
**/__pycache__

#  extensions
**/*.pyc
**/*.log
**/*.o
**/*.png
**/*.jpg
**/*.jpeg
**/*.orig
**/*.lock

# binaries 
robin
tools/tpacket_broadcaster
tools/command_sender
tools/nodemap_sender
tools/image_sneder

# specifics
/conf/nodeid.conf
/conf/usocket
/database_utils/sanet.db
